@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.App {
  text-align: center;
}

body {
  background-color: linen;
}

.Header {

  font-size: 25px;
  text-align: center;
}

.Title{
  font-size: 100px;
  font-family: 'Sacramento', cursive;
  padding-right: 175px;
}

.Logo {
  padding-left: 10px;
  padding-top: 10px;
  width: 140px;
  height: 140px;

}

.App-link {
  color: #131B23;
}
