@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.App {
  text-align: center;
}
.App-link {
  color: #131B23;
}
body {
  background-color: linen;
}

.Header {
  font-size: 25px;
  text-align: center;
}
.Title{
  font-size: 100px;
  font-family: 'Sacramento', cursive;
  padding-right: 13%;
}
.Logo {
  padding-left: 10px;
  padding-top: 10px;
  width: 140px;
  height: 140px;
}

.Facebook {
  width: 25x;
  height: 25px;
}
.Instagram {
  width: 25px;
  height: 25px;
}
.YouTube {
  width: 25px;
  height: 25px;
}
.Envelope {
  width: 25px;
  height: 25px;
}

.Alfredo{
  width: 180px;
  height: 180px;
  border-radius: 30px;
}
.Aljon{
  width: 180px;
  height: 180px;
  border-radius: 30px;
}
.Dachelle{
  margin-left: 25px;
  width: 180px;
  height: 180px;
  border-radius: 30px;
}
.Kae{
  margin-left: 25px;
  width: 180px;
  height: 180px;
  border-radius: 30px;
}
.Lawrence{
  margin-left: 25px;
  width: 180px;
  height: 180px;
  border-radius: 30px;
}

.TeamPhotos{
  text-align: center;
}
.Contact{
  text-align: center;
}
.Home{
  text-align: center;
}
.About{
  text-align: center;
}